/* Booking page */
@import url(main.css);

h2 {
  text-align: center;
}
form {
width: 350px;
background-color: var(--second-bg-color);
border-radius: 20px;
  padding: 20px;
  margin: 2rem auto 2rem auto;
}

form > div {
  /* display: inline-block; */
  margin-top: 0.5em;
  margin-bottom: 1em;
}

input:focus:invalid {
  color: red;
  border: red 3px solid;
}

label {
  padding: 10px  10px 10px 0;
}
button {
  cursor: pointer;
  padding: 5px;
  margin: 0 auto 0 auto;
}

button:hover {background-color: var(--text-color);
color: var(--second-bg-color);}

textarea {
  resize: none;
  margin: 10px 10px 10px 0;
}

