:root {
  --bg-color: #EDEFEE;
  --second-bg-color: #e5d22c;  
  --third-bg-color: #0fb909;
  --fourth-bg-color: #15eb20;
  --menu-bg-color:#e8ece4;
  --text-color: #3e4b0f;
  --second-text-color: #ffffff;
  --third-text-color: #FA9F42;
  --fourth-text-color:#ff0000;
    
}

* {box-sizing: border-box;}


body {
    background-color:var(--bg-color);
    font-family: ' Markazi Text', serif ;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

/* headings*/

h1 {font-size: 6vw;
  color: var(--text-color);}
  
h2 {font-size: 3vw;
  color: var(--text-color);
}

  span {color: var(--fourth-text-color);}

.discount {
    position: relative;    
text-align: center;
animation:move-words 10s linear infinite;
}

/* animation */

@keyframes move-words {
    0% {
      left: 50%;
    }
    100% {
      left: -50%;
    }
  }

/* header */
header a > img {
    height: 100px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
/* nav bar */

nav {
    margin: 2rem 0 2rem 0;
}

ul {
    width: 80%;
    border-radius: 25px;
    list-style-type: none;
    margin: 0 auto 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: var(--second-bg-color);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;    
    color: var(--text-color);   
    font-size: 2.5vw;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: var(--third-bg-color);
    color: var(--second-text-color) ;
  }
  
  .active {
    background-color: var(--fourth-bg-color);
  }  

/* section */

section  {    
    display: flex;    
    margin-left: auto;
    margin-right: auto;
    column-gap: 2rem;   
    margin-bottom: 2rem;
    overflow: hidden;    
}

article {
    width: 30%;
    border-radius: 10px;   
    padding: 0 1rem 0 1rem;
   
    flex: 1;
}

section + section article {
    background-color:var(--second-bg-color);
}

section img {
    width: 100%;    
}

section  + section article :hover {
    opacity: .6;}

    p {font-size: 2vw;}

   section a {font-size: 1.5vw;}

/* footer */
footer {
    width: 100%;
    background-color:var(--second-bg-color); 
    padding: .5rem 0 .5rem .5rem;
    justify-content: baseline;
   
    display: flex;
}

footer div {
    flex: 1;
}

footer img {
    height: 50px;
}
